body {
    background-color: rgb(218, 164, 164);
}
#titulo {
    font-size: 70px;
    text-align: center;
    color: rgb(157, 16, 223);


}
header {
    padding: 20px;
    background-color: rgb(100, 194, 112);
    border: 5px solid;
    font-size: 35px;
    color: rgb(185, 202, 32);
}

.texto {
    font-size: 50px;
    text-align: justify;
    color: rgb(48, 50, 161),0,0);

}
.listas1 {
    font-size: 50px;
    text-align: center;
    list-style-position: inside;
}

.listas2 {
    font-size: 50px;
    text-align: center;
    list-style: none;
}

.inicio{
    padding: 20px;
    background-color: black;
    border: 5px solid white;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
}