body {
    background-color: rgb(218, 164, 164);
}
#titulo {
    font-size: 95px;
    text-align: center;
    color: rgb(223, 16, 85),purple;


}
header {
    padding: 20px;
    background-color: rgb(17, 14, 17);
    border: 5px solid;
    font-size: 35px;
    color: rgb(27, 27, 19);
}

.texto {
    font-size: 50px;
    text-align: justify;
    color: rgb(13, 13, 27),0,0);

}
.listas1 {
    font-size: 50px;
    text-align: center;
    list-style-position: inside;
}

.listas2 {
    font-size: 50px;
    text-align: center;
    list-style: none;
}

.inicio{
    padding: 20px;
    background-color: black;
    border: 5px solid white;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
}